### Pandas 데이터 입출력

- CSV R/W
- Excel R/W
- JSON R/W
- DB R/W

In [36]:
import pandas as pd
import numpy as np

In [13]:
# 로컬파일 읽기 / 속성(option) 중 encoding은 필수 (euc-kr | utf-8), header속성 기본=0
df_choongbuk_foodbank = pd.read_csv('../raws/충청북도_푸드뱅크현황.csv', encoding='utf-8', header=0)
df_choongbuk_foodbank

,지역,시군구,센터단위,센터구분,지원센터,신고구분,운영단체명,운영법인분류(대),대표자명,센터전화번호,주소,등록일자
0,충북,충청북도 청주시 흥덕구,광역,푸드뱅크,광역기부식품등지원센터,당연신고,충청북도사회복지협의회,법인 운영,김*석,043-234-1377,"청주시 흥덕구 공단로 87, 302호",2000-05-18
1,충북,충청북도 청주시 흥덕구,기초,푸드뱅크,청주시흥덕푸드뱅크,임의신고,청주시사회복지협의회,법인 운영,이*형,043-267-1377,"청주시 흥덕구 무심서로 665(운천동), 2층",2002-08-19
2,충북,충청북도 청주시 상당구,기초,푸드뱅크,청주구세군푸드뱅크,당연신고,구세군청주복지센터,법인 운영,이*혁,043-254-1377,"청주시 상당구 쇠내로 145번길 15, A동 202호",2010-01-01
3,충북,충청북도 청주시 흥덕구,기초,푸드뱅크,청주사랑나눔푸드뱅크,당연신고,개인,개인 운영,조*옥,043-266-1377,청주시 흥덕구 강서로 71번길 20-3,2008-03-03
4,충북,충청북도 청주시 청원구,기초,푸드뱅크,청주드림푸드뱅크,당연신고,기독교대한감리회(드림교회),법인 운영,문*길,043-218-7991,청주시 청원구 상리로17번길 27-40(율량동),2012-05-14
5,충북,충청북도 청주시 상당구,기초,푸드뱅크,청주제일푸드뱅크,임의신고,한국기독교장로회(청주제일교회),법인 운영,이*희,043-256-3816,청주시 상당구 상당로 13번길 15(남문로1가),2013-03-15
6,충북,충청북도 청주시 청원구,기초,푸드뱅크,청원푸드뱅크,당연신고,개인,개인 운영,김*경,043-218-1377,청주시 청원구 내수읍 내수로 737,2005-07-05
7,충북,충청북도 청주시 상당구,기초,푸드뱅크,대청푸드뱅크,당연신고,개인,개인 운영,이*순,043-221-7838,청주시 상당구 문의면 두모1길 13-8,2014-05-28
8,충북,충청북도 청주시 상당구,기초,푸드마켓,청주시푸드마켓,임의신고,청주시사회복지협의회,법인 운영,이*형,043-222-9171,청주시 상당구 남사로 83번길 35(서문동),2009-06-15
9,충북,충청북도 충주시,기초,푸드뱅크,충주시푸드뱅크,당연신고,사회복지법인 열림재단(충주종합사회복지관),법인 운영,이*훈,043-855-3000,충주시 주공길 7 (연수동),2002-07-01
10,충북,충청북도 충주시,기초,푸드마켓,충주시푸드마켓,임의신고,사회복지법인 열림재단(충주종합사회복지관),법인 운영,이*훈,043-855-1377,"충주시 사직산21길 34, 종합복지관 B1층",2010-01-22
11,충북,충청북도 제천시,기초,푸드뱅크,제천시푸드뱅크,당연신고,제천시사회복지협의회,법인 운영,양*경,043-645-5004,제천시 내토로 390(영천동),1998-09-17
12,충북,충청북도 제천시,기초,푸드마켓,제천시푸드마켓,임의신고,제천시사회복지협의회,법인 운영,양*경,043-647-1377,제천시 동명로 50(서부동),2009-06-10
13,충북,충청북도 보은군,기초,푸드뱅크,보은군푸드뱅크,당연신고,보은군사회복지협의회,법인 운영,구*회,043-544-1377,보은군 보은읍 보청대로 1907,2002-01-01
14,충북,충청북도 옥천군,기초,푸드마켓,옥천군푸드뱅크,임의신고,사회복지법인 전석복지재단(옥천군노인장애인복지관),법인 운영,오*훈,043-730-2653,"옥천군 옥천읍 삼금로 4길6, 1층",2004-01-03
15,충북,충청북도 옥천군,기초,푸드뱅크,옥천나눔푸드뱅크,임의신고,개인,개인 운영,이*선,043-731-6231,옥천군 옥천읍 응천1길 63-3,2019-08-08
16,충북,충청북도 영동군,기초,푸드뱅크,영동나눔푸드뱅크,당연신고,영동군사회복지협의회,법인 운영,서*선,043-744-4949,영동군 영동읍 눈어치1로 71,2005-01-27
17,충북,충청북도 증평군,기초,푸드뱅크,증평군푸드뱅크,임의신고,사회복지법인 열림재단(삼보사회복지관),법인 운영,정*선,043-836-6040,증평군 증평읍 창신로 85,2002-01-01
18,충북,충청북도 진천군,기초,푸드뱅크,진천군푸드뱅크,당연신고,진천군사회복지협의회,법인 운영,손*영,043-533-1377,진천군 진천읍 상산로 42,2004-03-23
19,충북,충청북도 진천군,기초,푸드뱅크,진천나눔과기쁨,임의신고,개인,개인 운영,안*선,043-536-0129,"진천군 진천읍 진광로 72-1, 1층",2006-03-07
20,충북,충청북도 괴산군,기초,푸드뱅크,괴산군푸드뱅크,당연신고,괴산군사회복지협의회,법인 운영,최*묵,043-834-1377,"괴산군 괴산읍 괴강로 15, 1층",2001-08-31
21,충북,충청북도 괴산군,기초,푸드뱅크,괴산나눔과기쁨,당연신고,개인,개인 운영,김*윤,043-832-3197,괴산군 괴산읍 정용1길 8,2010-09-27
22,충북,충청북도 괴산군,기초,푸드마켓,괴산군푸드마켓,임의신고,괴산군사회복지협의회,법인 운영,최*묵,043-834-1377,"괴산군 괴산읍 괴강로 15, 1층",2011-12-16
23,충북,충청북도 음성군,기초,푸드뱅크,음성군푸드뱅크,당연신고,음성군사회복지협의회,법인 운영,이*용,043-873-2882,"음성군 음성읍 중앙로40번길 9-1, 201호",2003-08-04
24,충북,충청북도 음성군,기초,푸드뱅크,한울사랑나눔,당연신고,한울사랑나눔푸드뱅크,개인 운영,이*경,043-878-4312,음성군 생극면 음성로 1620번길 7,2011-11-25
25,충북,충청북도 음성군,기초,푸드뱅크,관성푸드뱅크,당연신고,개인,개인 운영,유*호,043-877-9457,음성군 삼성면 대성로547번길 12,2014-04-18
26,충북,충청북도 단양군,기초,푸드뱅크,단양군푸드뱅크,임의신고,단양군사회복지협의회,법인 운영,김*학,043-422-1299,"단양군 단양읍 수변로 83, 3층",2022-12-01
27,충북,충청북도 단양군,기초,푸드뱅크,단양나눔과기쁨,당연신고,기독교대한성결교회(단양수정교회),법인 운영,함*용,043-421-3191,단양군 대강면 장림1길 6,2012-04-17
28,충북,충청북도 단양군,기초,푸드마켓,단양군푸드마켓,임의신고,단양군사회복지협의회,법인 운영,김*학,043-422-1700,"단양군 단양읍 중앙1로 29, 1층",2012-06-22

In [14]:
# info() 결측치도 확인, 컬럼갯수, 데이터 갯수
df_choongbuk_foodbank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지역         29 non-null     object
 1   시군구        29 non-null     object
 2   센터단위       29 non-null     object
 3   센터구분       29 non-null     object
 4   지원센터       29 non-null     object
 5   신고구분       29 non-null     object
 6   운영단체명      29 non-null     object
 7   운영법인분류(대)  29 non-null     object
 8   대표자명       29 non-null     object
 9   센터전화번호     29 non-null     object
 10  주소         29 non-null     object
 11  등록일자       29 non-null     object
dtypes: object(12)
memory usage: 2.8+ KB

In [16]:
# dtype이 int, float이 없으면 통계치 못냄
df_choongbuk_foodbank.describe()

,지역,시군구,센터단위,센터구분,지원센터,신고구분,운영단체명,운영법인분류(대),대표자명,센터전화번호,주소,등록일자
count,29,29,29,29,29,29,29,29,29,29,29,29
unique,1,13,2,2,29,2,18,2,24,28,28,28
top,충북,충청북도 청주시 상당구,기초,푸드뱅크,광역기부식품등지원센터,당연신고,개인,법인 운영,김*학,043-834-1377,"괴산군 괴산읍 괴강로 15, 1층",2002-01-01
freq,29,4,28,23,1,17,7,21,2,2,2,2

In [19]:
# 데이터를 저장, 속성 encoding는 동일, index 인덱스숫자 저장유무
df_choongbuk_foodbank.to_csv('./data/충북푸드뱅크현황.csv', encoding='utf-8', index=False)

##### 엑셀 저장시
openpyxl 모듈 설치

In [20]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
# 판다스 엑셀 저장시에는 openpyxl 모듈 필요
# 속성 index는 to_csv와 동일, 단 encoding은 없음
df_choongbuk_foodbank.to_excel('./data/충북푸드뱅크현황.xlsx', index=False)

In [28]:
# 속성 force_ascii=False 한글유니코드화 막음, indent로 들여쓰기, index 제거 시 orient 'table', 'split' 속성 지정
df_choongbuk_foodbank.to_json('./data/충북푸드뱅크현황.json', force_ascii=False, orient='split', index=False, indent=4)

In [29]:
# 웹상에 있는 csv읽기
df_cb_foodbank_online = pd.read_csv('https://raw.githubusercontent.com/hugoMGSung/bigdata-python-2023/main/Day03/%EC%B6%A9%EC%B2%AD%EB%B6%81%EB%8F%84_%ED%91%B8%EB%93%9C%EB%B1%85%ED%81%AC%ED%98%84%ED%99%A9.csv',
                                    encoding='UTF-8')
df_cb_foodbank_online

,지역,시군구,센터단위,센터구분,지원센터,신고구분,운영단체명,운영법인분류(대),대표자명,센터전화번호,주소,등록일자
0,충북,충청북도 청주시 흥덕구,광역,푸드뱅크,광역기부식품등지원센터,당연신고,충청북도사회복지협의회,법인 운영,김*석,043-234-1377,"청주시 흥덕구 공단로 87, 302호",2000-05-18
1,충북,충청북도 청주시 흥덕구,기초,푸드뱅크,청주시흥덕푸드뱅크,임의신고,청주시사회복지협의회,법인 운영,이*형,043-267-1377,"청주시 흥덕구 무심서로 665(운천동), 2층",2002-08-19
2,충북,충청북도 청주시 상당구,기초,푸드뱅크,청주구세군푸드뱅크,당연신고,구세군청주복지센터,법인 운영,이*혁,043-254-1377,"청주시 상당구 쇠내로 145번길 15, A동 202호",2010-01-01
3,충북,충청북도 청주시 흥덕구,기초,푸드뱅크,청주사랑나눔푸드뱅크,당연신고,개인,개인 운영,조*옥,043-266-1377,청주시 흥덕구 강서로 71번길 20-3,2008-03-03
4,충북,충청북도 청주시 청원구,기초,푸드뱅크,청주드림푸드뱅크,당연신고,기독교대한감리회(드림교회),법인 운영,문*길,043-218-7991,청주시 청원구 상리로17번길 27-40(율량동),2012-05-14
5,충북,충청북도 청주시 상당구,기초,푸드뱅크,청주제일푸드뱅크,임의신고,한국기독교장로회(청주제일교회),법인 운영,이*희,043-256-3816,청주시 상당구 상당로 13번길 15(남문로1가),2013-03-15
6,충북,충청북도 청주시 청원구,기초,푸드뱅크,청원푸드뱅크,당연신고,개인,개인 운영,김*경,043-218-1377,청주시 청원구 내수읍 내수로 737,2005-07-05
7,충북,충청북도 청주시 상당구,기초,푸드뱅크,대청푸드뱅크,당연신고,개인,개인 운영,이*순,043-221-7838,청주시 상당구 문의면 두모1길 13-8,2014-05-28
8,충북,충청북도 청주시 상당구,기초,푸드마켓,청주시푸드마켓,임의신고,청주시사회복지협의회,법인 운영,이*형,043-222-9171,청주시 상당구 남사로 83번길 35(서문동),2009-06-15
9,충북,충청북도 충주시,기초,푸드뱅크,충주시푸드뱅크,당연신고,사회복지법인 열림재단(충주종합사회복지관),법인 운영,이*훈,043-855-3000,충주시 주공길 7 (연수동),2002-07-01
10,충북,충청북도 충주시,기초,푸드마켓,충주시푸드마켓,임의신고,사회복지법인 열림재단(충주종합사회복지관),법인 운영,이*훈,043-855-1377,"충주시 사직산21길 34, 종합복지관 B1층",2010-01-22
11,충북,충청북도 제천시,기초,푸드뱅크,제천시푸드뱅크,당연신고,제천시사회복지협의회,법인 운영,양*경,043-645-5004,제천시 내토로 390(영천동),1998-09-17
12,충북,충청북도 제천시,기초,푸드마켓,제천시푸드마켓,임의신고,제천시사회복지협의회,법인 운영,양*경,043-647-1377,제천시 동명로 50(서부동),2009-06-10
13,충북,충청북도 보은군,기초,푸드뱅크,보은군푸드뱅크,당연신고,보은군사회복지협의회,법인 운영,구*회,043-544-1377,보은군 보은읍 보청대로 1907,2002-01-01
14,충북,충청북도 옥천군,기초,푸드마켓,옥천군푸드뱅크,임의신고,사회복지법인 전석복지재단(옥천군노인장애인복지관),법인 운영,오*훈,043-730-2653,"옥천군 옥천읍 삼금로 4길6, 1층",2004-01-03
15,충북,충청북도 옥천군,기초,푸드뱅크,옥천나눔푸드뱅크,임의신고,개인,개인 운영,이*선,043-731-6231,옥천군 옥천읍 응천1길 63-3,2019-08-08
16,충북,충청북도 영동군,기초,푸드뱅크,영동나눔푸드뱅크,당연신고,영동군사회복지협의회,법인 운영,서*선,043-744-4949,영동군 영동읍 눈어치1로 71,2005-01-27
17,충북,충청북도 증평군,기초,푸드뱅크,증평군푸드뱅크,임의신고,사회복지법인 열림재단(삼보사회복지관),법인 운영,정*선,043-836-6040,증평군 증평읍 창신로 85,2002-01-01
18,충북,충청북도 진천군,기초,푸드뱅크,진천군푸드뱅크,당연신고,진천군사회복지협의회,법인 운영,손*영,043-533-1377,진천군 진천읍 상산로 42,2004-03-23
19,충북,충청북도 진천군,기초,푸드뱅크,진천나눔과기쁨,임의신고,개인,개인 운영,안*선,043-536-0129,"진천군 진천읍 진광로 72-1, 1층",2006-03-07
20,충북,충청북도 괴산군,기초,푸드뱅크,괴산군푸드뱅크,당연신고,괴산군사회복지협의회,법인 운영,최*묵,043-834-1377,"괴산군 괴산읍 괴강로 15, 1층",2001-08-31
21,충북,충청북도 괴산군,기초,푸드뱅크,괴산나눔과기쁨,당연신고,개인,개인 운영,김*윤,043-832-3197,괴산군 괴산읍 정용1길 8,2010-09-27
22,충북,충청북도 괴산군,기초,푸드마켓,괴산군푸드마켓,임의신고,괴산군사회복지협의회,법인 운영,최*묵,043-834-1377,"괴산군 괴산읍 괴강로 15, 1층",2011-12-16
23,충북,충청북도 음성군,기초,푸드뱅크,음성군푸드뱅크,당연신고,음성군사회복지협의회,법인 운영,이*용,043-873-2882,"음성군 음성읍 중앙로40번길 9-1, 201호",2003-08-04
24,충북,충청북도 음성군,기초,푸드뱅크,한울사랑나눔,당연신고,한울사랑나눔푸드뱅크,개인 운영,이*경,043-878-4312,음성군 생극면 음성로 1620번길 7,2011-11-25
25,충북,충청북도 음성군,기초,푸드뱅크,관성푸드뱅크,당연신고,개인,개인 운영,유*호,043-877-9457,음성군 삼성면 대성로547번길 12,2014-04-18
26,충북,충청북도 단양군,기초,푸드뱅크,단양군푸드뱅크,임의신고,단양군사회복지협의회,법인 운영,김*학,043-422-1299,"단양군 단양읍 수변로 83, 3층",2022-12-01
27,충북,충청북도 단양군,기초,푸드뱅크,단양나눔과기쁨,당연신고,기독교대한성결교회(단양수정교회),법인 운영,함*용,043-421-3191,단양군 대강면 장림1길 6,2012-04-17
28,충북,충청북도 단양군,기초,푸드마켓,단양군푸드마켓,임의신고,단양군사회복지협의회,법인 운영,김*학,043-422-1700,"단양군 단양읍 중앙1로 29, 1층",2012-06-22

In [30]:
df_raw_data = pd.read_csv('https://raw.githubusercontent.com/bourbonkk/StatisticDataAnalysis/main/rawdata/totally_raw_data.csv')
df_raw_data

,date,sm_tp1_t,sm_tp2_t,sm_tp3_t,sm_tp4_t,sm_tp5_t,sm_tp6_t,sm_tot_t,confirmed,death,...,i_nw_release,i_nw_test,i_nw_death,i_confirm_id_rto,i_quarant_id_rto,i_test_id_rto,i_test_cnfm_rto,i_confirm_rto,i_fatality_rto,i_release_rto
0,20200101,5179287,69285,139674,56505,47966,219017,5711734,0,0,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,20200102,5270468,205143,264086,186271,264039,297441,6487448,0,0,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,20200103,5661518,227649,296568,224709,313996,312206,7036646,0,0,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,20200104,5595676,117323,194373,109813,171529,258204,6446918,0,0,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,20200105,4871393,52691,139683,46335,46099,218329,5374530,0,0,...,0,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,20210527,7553319,293459,357332,323979,508270,404843,9441202,138309,1943,...,606,36235,3,0.004569,0.002449,0.003763,0.014493,0.014309,0.000201,0.926765
512,20210528,8371873,286788,355519,308215,480799,433393,10236587,138896,1946,...,581,36763,3,0.004244,0.000366,0.003803,0.014499,0.014316,0.000201,0.927032
513,20210529,8993202,159922,211302,156898,279498,382203,10183025,139429,1951,...,978,31135,5,0.003837,-0.054952,0.003209,0.014509,0.014325,0.000200,0.930502
514,20210530,8190964,76539,136893,69326,83879,332697,8890298,139909,1957,...,642,14024,6,0.003443,-0.021708,0.001441,0.014542,0.014353,0.000201,0.931899
515,20210531,7263254,278895,329552,285756,443019,394121,8994597,140339,1959,...,442,13544,2,0.003073,-0.001849,0.001389,0.014568,0.014377,0.000201,0.932193

In [35]:
# 나중에..
df_raw_data.apply(pd.to_numeric).style.background_gradient(cmap='Accent')

ImportError: Missing optional dependency 'Jinja2'. DataFrame.style requires jinja2. Use pip or conda to install Jinja2.

In [44]:
# read_excel
# 속성 중 sheet_name 지정, usecols로 컬럼 지정, skiprows 빈 row가 있으면, skipfooter 속성, index_col
df_xls = pd.read_excel('../raws/totally_raw_data.xlsx', sheet_name='Sheet1', usecols='B:E')
df_xls

          변수명   변수 설명             변수명.1      변수설명
0        date      날짜         i_quarant    현재격리자수
1    sm_tp1_t   1종교통량      i_under_test    현재검사자수
2    sm_tp2_t   2종교통량      i_nw_confirm    신규확진자수
3    sm_tp3_t   3종교통량      i_nw_quarant    신규격리자수
4    sm_tp4_t   4종교통량      i_nw_release  신규격리해제자수
5    sm_tp5_t   5종교통량         i_nw_test    신규검사자수
6    sm_tp6_t   6종교통량        i_nw_death    신규사망자수
7    sm_tot_t    총교통량  i_confirm_id_rto    확진자증감률
8   confirmed   누적확진자  i_quarant_id_rto  현재격리자증감률
9       death   누적사망자     i_test_id_rto  누적검사자증감률
10   released  누적격리해제   i_test_cnfm_rto    검사자확진율
11     tested   누적검사자     i_confirm_rto       확진율
12   negative    누적음성    i_fatality_rto       치명률
13   critical  위중증환자수     i_release_rto     격리해제율
14        NaN     NaN    i_critical_rto  위중증환자증감율

In [50]:
df_xls2 = pd.read_excel('../raws/totally_raw_data.xlsx')

In [51]:
df_xls2

,date,sm_tp1_t,sm_tp2_t,sm_tp3_t,sm_tp4_t,sm_tp5_t,sm_tp6_t,sm_tot_t,confirmed,death,...,i_nw_test,i_nw_death,i_confirm_id_rto,i_quarant_id_rto,i_test_id_rto,i_test_cnfm_rto,i_confirm_rto,i_fatality_rto,i_release_rto,i_critical_rto
0,20200101,5179287,69285,139674,56505,47966,219017,5711734,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,20200102,5270468,205143,264086,186271,264039,297441,6487448,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,20200103,5661518,227649,296568,224709,313996,312206,7036646,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,20200104,5595676,117323,194373,109813,171529,258204,6446918,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,20200105,4871393,52691,139683,46335,46099,218329,5374530,0,0,...,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,20210527,7553319,293459,357332,323979,508270,404843,9441202,138309,1943,...,36235,3,0.004569,0.002449,0.003763,0.014493,0.014309,0.000201,0.926765,0.019868
512,20210528,8371873,286788,355519,308215,480799,433393,10236587,138896,1946,...,36763,3,0.004244,0.000366,0.003803,0.014499,0.014316,0.000201,0.927032,0.012987
513,20210529,8993202,159922,211302,156898,279498,382203,10183025,139429,1951,...,31135,5,0.003837,0.054952,0.003209,0.014509,0.014325,0.000200,0.930502,0.025641
514,20210530,8190964,76539,136893,69326,83879,332697,8890298,139909,1957,...,14024,6,0.003443,0.021708,0.001441,0.014542,0.014353,0.000201,0.931899,0.062500
515,20210531,7263254,278895,329552,285756,443019,394121,8994597,140339,1959,...,13544,2,0.003073,0.001849,0.001389,0.014568,0.014377,0.000201,0.932193,0.006667

In [52]:
# head(), tail() 속성 n 출력할 개수 지정
df_xls2.head()

,date,sm_tp1_t,sm_tp2_t,sm_tp3_t,sm_tp4_t,sm_tp5_t,sm_tp6_t,sm_tot_t,confirmed,death,...,i_nw_test,i_nw_death,i_confirm_id_rto,i_quarant_id_rto,i_test_id_rto,i_test_cnfm_rto,i_confirm_rto,i_fatality_rto,i_release_rto,i_critical_rto
0,20200101,5179287,69285,139674,56505,47966,219017,5711734,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20200102,5270468,205143,264086,186271,264039,297441,6487448,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20200103,5661518,227649,296568,224709,313996,312206,7036646,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20200104,5595676,117323,194373,109813,171529,258204,6446918,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,20200105,4871393,52691,139683,46335,46099,218329,5374530,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
df_xls2.tail()

,date,sm_tp1_t,sm_tp2_t,sm_tp3_t,sm_tp4_t,sm_tp5_t,sm_tp6_t,sm_tot_t,confirmed,death,...,i_nw_test,i_nw_death,i_confirm_id_rto,i_quarant_id_rto,i_test_id_rto,i_test_cnfm_rto,i_confirm_rto,i_fatality_rto,i_release_rto,i_critical_rto
511,20210527,7553319,293459,357332,323979,508270,404843,9441202,138309,1943,...,36235,3,0.004569,0.002449,0.003763,0.014493,0.014309,0.000201,0.926765,0.019868
512,20210528,8371873,286788,355519,308215,480799,433393,10236587,138896,1946,...,36763,3,0.004244,0.000366,0.003803,0.014499,0.014316,0.000201,0.927032,0.012987
513,20210529,8993202,159922,211302,156898,279498,382203,10183025,139429,1951,...,31135,5,0.003837,0.054952,0.003209,0.014509,0.014325,0.000200,0.930502,0.025641
514,20210530,8190964,76539,136893,69326,83879,332697,8890298,139909,1957,...,14024,6,0.003443,0.021708,0.001441,0.014542,0.014353,0.000201,0.931899,0.062500
515,20210531,7263254,278895,329552,285756,443019,394121,8994597,140339,1959,...,13544,2,0.003073,0.001849,0.001389,0.014568,0.014377,0.000201,0.932193,0.006667

In [55]:
# json 읽기
df_json = pd.read_json('../raws/ora3_vuerd2.json', orient='tables', encoding='UTF-8')
df_json

                                               tables
0   {'name': 'SHIP', 'comment': '선박', 'columns': [...
1   {'name': 'CARGO', 'comment': '화물테이블', 'columns...
10  {'name': 'ORDERTABLE', 'comment': '최종화물주문', 'c...
11  {'name': 'DESTINATION', 'comment': '목적지', 'col...
12  {'name': 'APPLICATION', 'comment': '신청서', 'col...
13  {'name': 'TRANSPORTORDER', 'comment': '최종수송주문'...
2   {'name': 'SCHEDULE', 'comment': '운행정보', 'colum...
3   {'name': 'CLIENT', 'comment': '회원', 'columns':...
4   {'name': 'ESTIMATE', 'comment': '가견적서', 'colum...
5   {'name': 'LOCATION', 'comment': ' 실제위치', 'colu...
6   {'name': 'PAYMENT', 'comment': '해상수송결제', 'colu...
7   {'name': 'UNLOAD', 'comment': '하역', 'columns':...
8   {'name': 'LANDTRANSPORTATION', 'comment': '육상수...
9   {'name': 'PORT', 'comment': '항구', 'columns': [...

#### DB에서 읽어오기
DB 모듈 설치
- Oracle : cx_Oracle 모듈 필요
- SQL Server : pymssql 모듈
- MySQL/MariaDB : pymysql 모듈

In [56]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
                                              0.0/44.8 kB ? eta -:--:--
     ---------------------------------------- 44.8/44.8 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [57]:
import pymysql

In [61]:
conn = pymysql.connect(host='210.119.12.68', port=3306, user='root', passwd='12345', db='bookrentalshop')
query = 'SELECT * FROM bookstbl'

df_books = pd.read_sql_query(sql=query, con=conn, index_col='bookIdx')
print('조회완료!')

조회완료!

C:\Users\user\AppData\Local\Temp\ipykernel_5552\214918826.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_books = pd.read_sql_query(sql=query, con=conn, index_col='bookIdx')

In [63]:
df_books.tail()

           Author Division      Names ReleaseDate           ISBN    Price
bookIdx
55       캐서린 스테드먼     B001  썸씽 인 더 워터  2019-07-24  9788950982164  13500.0
56        에이미 몰로이     B001     퍼펙트 마더  2019-07-22  9791130623177  14220.0
57         지건, 콕콕     B001       잔혹동화  2019-07-20  9791161950938  12420.0
58            류츠신     B006       삼체 3  2019-09-25  9788954439923  17500.0
59       히가시노 게이고     B006       방과 후  2019-07-10  9791163898078  14800.0

In [64]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, 1 to 59
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Author       59 non-null     object
 1   Division     59 non-null     object
 2   Names        59 non-null     object
 3   ReleaseDate  59 non-null     object
 4   ISBN         59 non-null     object
 5   Price        59 non-null     float64
dtypes: float64(1), object(5)
memory usage: 3.2+ KB

In [67]:
df_books.to_csv('./data/bookrentalshop.csv', encoding='utf-8', index=True)

In [69]:
# DF에 수치형(int32/64, float32/64) 타입이 존재하면 수치통계가 해당컬럼으로 도출
df_books.describe()

               Price
count      59.000000
mean    17427.118644
std     18122.430667
min      8000.000000
25%     12600.000000
50%     14000.000000
75%     15000.000000
max    138000.000000

In [71]:
df_titanic = pd.read_csv('../raws/titanic_train.csv', encoding='utf-8', index_col='PassengerId')
df_titanic

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q